/*///////////////////////////////////////*/


/*///////// My Custom CSS ///////////////*/


/*///////////////////////////////////////*/


/*  Author:  Sankalp Sinha
    Updated: February 2015
/////////////////////////////////////////*/


/*///////////////////////////////////////*/


/*/////////// Body CSS //////////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-Semibold';
    src: url('../fonts/Montserrat-Semibold.otf');
}

body {
    font-family: Lato;
    color: #000;
}

a:link {
    color: #000;
}


/* unvisited link */

a:visited {
    color: #000;
}


/* visited link */

a:hover {
    color: #FD5F00;
}


/* mouse over link */

a:active {
    color: #FD5F00;
}


/* selected link */

::selection {
    color: #fff;
    background: #FD5F00;
}

.link_no_text_decoration {
    text-decoration: none;
}

.overall-padding {
    padding: 0px
}


/*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/


/*/////////// Used for making links orange ////////////////*/


/*/////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/

.link_orange:link {
    color: #fd5725;
    text-decoration: none;
}


/* unvisited link */

.link_orange:visited {
    color: #fd5725;
    text-decoration: none;
}


/* visited link */

.link_orange:hover {
    color: #fd5725;
    text-decoration: underline;
}


/* mouse over link */

.link_orange:active {
    color: #fd5725;
    text-decoration: underline;
}


/* selected link */


/*/////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////*/


/*/////////// Used for featured links in project pages ////////////////*/


/*/////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////*/

.link_highlight:link {
    color: #000;
    text-decoration: underline;
}


/* unvisited link */

.link_highlight:visited {
    color: #fd5725;
    text-decoration: underlin;
}


/* visited link */

.link_highlight:hover {
    color: #fd5725;
    text-decoration: underline;
}


/* mouse over link */

.link_highlight:active {
    color: #fd5725;
    text-decoration: underline;
}


/* selected link */


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*/////////// Navigation ////////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

.header {
    width: 100%;
    z-index: 100000000;
    top: 0px !important;
    left: 0px;
    position: relative;
    border-top: 4px solid #FD5F00;
}

.navbar-toggle {
    margin-right: 9px;
}

.navbar .container-fluid {
    background-color: transparent;
    padding-top: 6px;
    padding-bottom: 10px;
}

.navbar-default {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    font-family: Montserrat-Regular;
    font-weight: 400;
    color: #000;
    padding-left: 30px;
}

.navbar-right {
    font-family: Montserrat-Light;
    margin-right: 0px;
    font-size: 16px;
    margin-left: 2px;
    margin-top: 4px;
}

.nav>li {}

.nav>li>a {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 13px;
}

.navbar-default .navbar-brand:hover {
    color: #FD5F00;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    line-height: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FD5F00;
}

.nav_links {
    cursor: pointer;
    margin-left: 40px;
    margin-right: 6px;
    letter-spacing: 0.5px;
}

#nav_contact {
    margin-right: 10px;
}

#nav_links_social {
    margin-left: 10px !important;
}

.nav_links_social_icon {
    display: inline-block !important;
    margin-left: 25px !important;
    margin-top: 3px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none !important;
    box-shadow: none !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff !important;
}

.navbar-nav>li>.dropdown-menu {
    width: 270px;
    border-radius: 4px !important;
}

.dropdown-menu_items {
    margin-left: 0px;
    margin-bottom: 2px;
}

.dropdown-menu_items_link {}

.dropdown-menu>li>a {
    /*padding-top: 4px;
    padding-bottom: 4px;*/
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 5px;
}

.dropdown-menu_project_tags {
    color: #000;
    font-size: 9px;
    font-family: Montserrat-Regular;
    float: right;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: -2px;
    margin-left: 5px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #FD5F00 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    /*color: #333;
    font-size: 13px;
    letter-spacing: 0px;*/
}

#go_to_top_icon {
    bottom: 20px;
    right: 20px;
    position: fixed;
    font-size: 30px;
    color: #E4E4E4;
    cursor: pointer;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

#go_to_top_icon:hover {
    color: #000000;
    font-size: 36px;
    -webkit-transition: .5s;
    transition: .5s;
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///////// Index body CSS //////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

#landing_top {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("../images/landing_back.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#landing_hero_section {
    height: calc(100vh - 190px);
    background-size: cover;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#landing_do_more_element_whole {
    margin-top: 50px;
    margin-left: -40px;
}

#landing_do_more_text_extra {
    font-family: Montserrat-Regular;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.5;
    color: #fff;
    margin-left: -10px;
    z-index: 100;
    position: relative;
}

#landing_do_more_text {
    font-family: Montserrat-Regular;
    font-weight: 700;
    font-size: 114px;
    letter-spacing: -4px;
    top: -42px;
    position: relative;
    color: #fff;
}

#landing_do_more_text_gap {
    font-size: 0px;
    margin-left: 5px;
}

#landing_do_more_text_tweet {
    margin-top: -70px;
    margin-left: 370px;
    margin-bottom: 50px;
    z-index: 100;
    position: relative;
}

#landing_do_more_text_tweet:hover #landing_do_more_text_tweet_icon {
    color: #fff;
    transition: color 0.5s ease;
}

#landing_do_more_text_tweet:hover #landing_do_more_text_tweet_text {
    color: #fff;
    transition: color 0.5s ease;
}

#landing_do_more_text_tweet_icon {
    color: rgba(255, 255, 255, 0.40);
    font-size: 20px;
}

#landing_do_more_text_tweet_text {
    font-family: Montserrat-Regular;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.40);
}

.landing_do_more_buttons {
    font-family: Montserrat-Semibold;
    color: #fff;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 40px;
    border: solid 3px #ffffff;
}

.landing_do_more_buttons:hover {
    cursor: pointer;
    color: #FD5F00;
    background-color: #fff;
    transition: color 0.2s ease;
}

.landing_do_more_buttons_xs_1 {
    display: block;
}

.landing_do_more_buttons_xs_2 {
    display: none;
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*////////// About page CSS /////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

#about_section {
    width: 100%;
}

#about_section_intro_ss_image {
    height: 800px;
    background-image: url(../about/images/sankalp_sinha.jpeg);
    margin-top: -190px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

#about_section_intro_name {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
}

#about_section_intro_description {
    font-family: Lato;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}

#about_nav {
    font-size: 15px;
    line-height: 24px;
}

#about_nav a.active {
    color: #fff;
    /*border-left:4px solid #FD5F00;*/
    background: #FD5F00;
}

.about_section_story_title {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}

.about_section_story_detail {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///// Project Main Page CSS ///////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

#projects_page {
    width: 100%;
    padding: 0px;
    background-color: #F7F7F7;
}

.projects_page_feature_section_title {
    font-family: Montserrat-Regular;
    font-size: 22px;
    color: #cccccc;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 60px;
}

#projects_page_feature_section {
    height: 105px;
    width: 100%;
}

.projects_page_feature_section_logos {
    width: 95px;
    margin-top: 10px;
    margin-left: 30px;
}

.projects_page_projects_title {
    font-family: Montserrat-Regular;
    font-size: 22px;
    color: #cccccc;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 60px;
}

.projects_page_projects_section {
    margin-bottom: 60px;
}

.projects_page_projects_section_div {
    padding-right: 15px;
    padding-left: 0px;
    padding-top: 13px;
    padding-bottom: 5px;
    text-align: center;
}

.projects_page_projects_section_logos {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #dddddd;
    border: solid 1px #dddddd;
}

.projects_page_projects_section_logos:hover {
    box-shadow: 0px 2px 0px 0px #bbb;
    border: solid 1px #bbb;
    transition: border 0.2s ease;
}

#projects_section_case_study_main_margin {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.projects_section_case_study_project_details {
    padding-left: 0px;
    padding-right: 0px;
}

.projects_section_case_study_project_details>h4 {
    line-height: 28px;
}

#projects_section_case_study_image_first {
    margin-top: 20px;
}

#projects_section_case_study_image_last {
    margin-top: 10px;
}

.projects_section_case_study_images {
    width: 100%;
    margin-top: 20px;
}

#projects_section_case_study_subscribe_social_work {
    text-align: center;
    margin-bottom: 50px;
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///////// footer_main section CSS //////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

#footer_main {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 12px;
    border-top: 1px solid #EAEAEA;
    padding-top: 10px;
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*/////////  MEDIA QUERIES  /////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*// Between 1450px - 1199(1200)px - LG//*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 1450px) and (min-width: 1199px) {
    #about_section_intro_ss_image {
        height: 920px;
    }
    .projects_page_feature_section_logos {
        margin-left: 20px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///// Between 1200px - 992px - MD /////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 1200px) and (min-width: 992px) {
    #landing_hero_section {}
    #landing_do_more_element_whole {
        margin-top: 40px;
    }
    #landing_do_more_text_extra {
        font-size: 30px;
    }
    #landing_do_more_text {
        font-size: 96px;
        top: -36px;
    }
    #landing_do_more_text_tweet {
        margin-top: -62px;
        margin-left: 320px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 17px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 17px;
    }
    #about_section_intro_name {
        font-size: 45px;
    }
    #about_section_intro_description {
        font-size: 24px;
        margin-bottom: 60px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 1050px - 900px ///////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 1050px) and (min-width: 900px) {
    #landing_hero_section {}
    #projects_page_feature_section {}
    .projects_page_feature_section_logos {
        width: 100px;
        margin-top: 20px;
        margin-left: 20px;
    }
    #about_section_intro_ss_image {
        height: 670px;
        margin-top: -190px;
        margin-bottom: 30px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*////// Between 991px - 768px - SM /////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 991px) and (min-width: 768px) {
    #landing_do_more_text_extra {
        font-size: 24px;
        letter-spacing: 0px;
    }
    #landing_do_more_text {
        font-size: 73px;
        letter-spacing: -3px;
        top: -27px;
    }
    #landing_do_more_text_tweet {
        margin-top: -47px;
        margin-left: 190px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 17px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 17px;
    }
    .landing_do_more_buttons {
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 12px 17px;
    }
    #projects_page {
        padding: 0px 40px;
    }
    #projects_page_feature_section {
        height: 120px;
    }
    .projects_page_feature_section_logos {
        width: 90px;
        margin-top: 20px;
        margin-left: 20px;
    }
    #projects_section_case_study_main_margin {
        margin-top: 20px;
    }
    .projects_section_case_study_project_details>h4 {
        font-size: 16px;
    }
    #about_section_intro_ss_image {
        height: 630px;
        margin-top: -190px;
        margin-bottom: 30px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*////// Between 991px - 850px - SM /////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 991px) and (min-width: 850px) {
    #landing_do_more_element_whole {
        margin-top: 0px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*////// Between 849px - 768px - SM /////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 849px) and (min-width: 768px) {
    #landing_do_more_element_whole {
        margin-top: -30px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*////// Between 780px - 0px ///////////*/


/*//For opening Menu toggle at 780 px //*/


/*///////////////////////////////////////*/

@media (max-width: 780px) and (min-width: 0px) {
    .navbar-default .navbar-brand {
        padding-left: 15px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar .container-fluid {
        padding-top: 1px;
    }
    .nav_links {
        margin-left: 2px;
    }
    #nav_links_social {
        margin-left: -22px !important;
    }
    #projects_page_feature_section {
        bottom: -5px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 767px - 600px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 767px) and (min-width: 600px) {
    #landing_top {
        background-size: 100%;
        background-position-x: 0px;
        background-position-y: -50px;
        background-image: url("../images/landing_back2.png");
    }
    #landing_do_more_element_whole {
        margin-top: 0px;
        margin-left: 0px;
    }
    #landing_do_more_text_extra {
        font-size: 28px;
        letter-spacing: 0px;
    }
    #landing_do_more_text {
        font-size: 86px;
        letter-spacing: -3px;
        top: -31px;
    }
    #landing_do_more_text_tweet {
        margin-top: -54px;
        margin-left: 270px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 17px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 17px;
    }
    .landing_do_more_buttons {
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 12px 18px;
    }
    #projects_page {
        padding: 0px 40px;
    }
    .projects_page_feature_section_title {
        margin-top: 30px;
    }
    #projects_page_feature_section {
        height: 100px;
        width: 95%;
    }
    .projects_page_feature_section_logos {
        width: 80px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .projects_page_projects_section_div {
        padding-right: 25px;
        padding-top: 20px;
    }
    .projects_page_projects_title {
        margin-bottom: -10px;
    }
    #projects_section_case_study {
        width: 95%;
    }
    #projects_section_case_study_main_margin {
        margin-top: 10px;
    }
    .projects_section_case_study_project_details>h4 {
        line-height: 24px;
        font-size: 14px;
    }
    #about_section_intro_ss_image {
        height: 600px;
        margin-top: -190px;
        margin-bottom: 25px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 991px - 600px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 899px) and (min-width: 600px) {
    #about_section_intro_name {
        font-size: 40px;
    }
    #about_section_intro_description {
        font-size: 20px;
        line-height: 32px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .about_section_story_detail {
        font-size: 18px;
    }
    #footer_main {
        font-size: 12px;
        line-height: 20px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 599px - 500px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 599px) and (min-width: 500px) {
    #landing_top {
        background-size: 100%;
        background-position-x: 0px;
        background-position-y: -20px;
        background-image: url("../images/landing_back2.png");
    }
    #landing_do_more_element_whole {
        margin-top: -30px;
        margin-left: 0px;
    }
    #landing_do_more_text_extra {
        font-size: 22px;
        letter-spacing: 0.5px;
    }
    #landing_do_more_text {
        font-size: 71px;
        letter-spacing: -3px;
        top: -26px;
    }
    #landing_do_more_text_tweet {
        margin-top: -46px;
        margin-left: 168px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 17px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 17px;
    }
    .landing_do_more_buttons {
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 12px 18px;
    }
    .navbar-default .navbar-brand {
        padding-left: 15px;
    }
    #projects_page {
        padding: 0px 40px;
    }
    .projects_page_feature_section_title {
        font-size: 20px;
        margin-top: 40px;
    }
    #projects_page_feature_section {
        height: 80px;
    }
    .projects_page_feature_section_logos {
        width: 70px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .projects_page_projects_title {
        font-size: 20px;
        margin-top: 40px;
    }
    #projects_section_case_study {
        width: 90%;
    }
    #projects_section_case_study_main_margin {
        margin-top: 0px;
    }
    .projects_section_case_study_project_details>h4 {
        line-height: 24px;
        font-size: 14px;
    }
    #about_section_intro_ss_image {
        height: 470px;
        margin-top: -190px;
        margin-bottom: 25px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 499px - 400px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 499px) and (min-width: 400px) {
    #landing_top {
        background-size: 100%;
        background-position-x: 0px;
        background-position-y: -10px;
        background-image: url("../images/landing_back2.png");
    }
    #landing_do_more_element_whole {
        margin-top: -40px;
        margin-left: 0px;
    }
    #landing_do_more_text_extra {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    #landing_do_more_text {
        font-size: 57px;
        letter-spacing: -2px;
        top: -20px;
    }
    #landing_do_more_text_tweet {
        margin-top: -37px;
        margin-left: 132px;
        margin-bottom: 40px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 15px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 15px;
    }
    .landing_do_more_buttons {
        font-size: 14px;
        letter-spacing: 0.3px;
        padding: 10px 12px;
        margin-left: -13px;
    }
    .navbar-default .navbar-brand {
        padding-left: 15px;
    }
    #projects_page {
        padding: 0px 20px;
    }
    .projects_page_feature_section_title {
        font-size: 18px;
        margin-top: 20px;
    }
    #projects_page_feature_section {
        height: 80px;
    }
    .projects_page_feature_section_logos {
        width: 70px;
        margin-top: 7px;
        margin-left: 15px;
    }
    .projects_page_projects_title {
        font-size: 18px;
        margin-top: 40px;
    }
    #projects_section_case_study {
        width: 95%;
    }
    #projects_section_case_study_main_margin {
        margin-top: 0px;
    }
    .projects_section_case_study_project_details>h4 {
        line-height: 24px;
        font-size: 14px;
    }
    #about_section_intro_ss_image {
        height: 420px;
        margin-top: -190px;
        margin-bottom: 20px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 599px - 450px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 599px) and (min-width: 450px) {
    #about_section_intro_name {
        font-size: 32px;
    }
    #about_section_intro_description {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .about_section_story_title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .about_section_story_detail {
        font-size: 17px;
        line-height: 27px;
    }
    #footer_main {
        font-size: 12px;
        line-height: 18px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 449px - 300px ////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 449px) and (min-width: 300px) {
    #about_section_intro_name {
        font-size: 26px;
        margin-bottom: 3px;
    }
    #about_section_intro_description {
        font-size: 16px;
        line-height: 23px;
        margin-top: 9px;
        margin-bottom: 20px;
    }
    .about_section_story_title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .about_section_story_detail {
        font-size: 16px;
        line-height: 24px;
    }
    #footer_main {
        font-size: 12px;
        line-height: 18px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*//////// Between 399px - 0px //////////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-width: 399px) and (min-width: 0px) {
    #landing_top {
        background-size: 170%;
        background-position-x: -145px;
        background-position-y: -20px;
        background-image: url("../images/landing_back2.png");
    }
    #landing_do_more_element_whole {
        margin-top: 30px;
        margin-left: 0px;
    }
    #landing_do_more_text_extra {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    #landing_do_more_text {
        font-size: 48px;
        letter-spacing: -2px;
        top: -18px;
    }
    #landing_do_more_text_tweet {
        margin-top: -32px;
        margin-left: 82px;
        margin-bottom: 20px;
    }
    #landing_do_more_text_tweet_icon {
        font-size: 15px;
    }
    #landing_do_more_text_tweet_text {
        font-size: 15px;
    }
    .landing_do_more_buttons {
        font-size: 14px;
        letter-spacing: 0.3px;
        padding: 10px 18px;
        margin-left: -13px;
        line-height: 60px;
    }
    .landing_do_more_buttons_xs_1 {
        display: none;
    }
    .landing_do_more_buttons_xs_2 {
        display: block;
    }
    .navbar-default .navbar-brand {
        padding-left: 15px;
    }
    #projects_page {
        padding-left: 15px;
    }
    .projects_page_feature_section_title {
        font-size: 18px;
        margin-top: 20px;
    }
    #projects_page_feature_section {
        height: 80px;
    }
    .projects_page_feature_section_logos {
        width: 70px;
        margin-top: 7px;
        margin-left: 5px;
    }
    .projects_page_projects_title {
        font-size: 18px;
        margin-top: 40px;
    }
    .projects_page_projects_section_logos {
        padding: 0px;
    }
    #projects_section_case_study {
        width: 98%;
    }
    #projects_section_case_study_main_margin {
        margin-top: 0px;
    }
    .projects_section_case_study_project_details>h4 {
        line-height: 24px;
        font-size: 14px;
    }
    #about_section_intro_ss_image {
        height: 420px;
        margin-top: -190px;
        margin-bottom: 20px;
    }
    #about_section_intro_name {
        font-size: 26px;
        margin-bottom: 0px;
    }
    #about_section_intro_description {
        font-size: 16px;
        line-height: 23px;
        margin-top: 10px;
    }
}


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/


/*///// Between height 380px - 0px //////*/


/*///////////////////////////////////////*/


/*///////////////////////////////////////*/

@media (max-height: 380px) and (min-height: 0px) {
    #landing_hero_section {
        height: calc(100vh - 0px);
    }
}
